* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html{
    background-color: #242424;
    color: #dddddd;
    text-align: center;
}

div {
    float: left;
    height: 60vh;
    width: 60vw;
    max-height: 70vw;
}

#infoPanel {
    height: 10vh;
    width: 30vw;
}

table {
    background: #444444;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    width: 33%;
    height: 33%;
}

td, th {
    padding: 15px;
    border: 10px solid #242424;
}

/* On screens that are 992 or less, set the background color to olive */
@media screen and (max-width: 992px) {
    div {
        width: 100vw;
    }

    #infoPanel {
        max-height: 10vh;
        width: 40vw;
    }
}
